<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SCALive-My Coding Institute</title>
    <link rel="icon" type="image/ico" href="images/icon/favicon.ico" />
  </head>
  <body>
    <!-- Nav bar start here -->

    <table width="100%" bgcolor="#fac020">
      <tr>
        <td><img src="images/logo/site_logos.png" alt="Sca logo" /></td>
        <td><a href="/index" alt="">Home</a></td>
        <td><a href="/about-us">About Us</a></td>
        <td><a href="/batches">Batches</a></td>
        <td><a href="/contact">Contact Us</a></td>
      </tr>
    </table>

    <!-- Nav bar end here -->

    <!-- banner starts here -->
    <img src="images/about-us.jpeg" width="100%" alt="Banner" />

    <!-- banner ends here -->

    <br /><br /><br />
    <!-- main content starts here -->

    <h1 align="center"><em>About Sharma Computer Academy(SCALive)</em></h1>

    <p align="center">
      We, at SCA, are a group of proficient and accomplished software
      professionals, who are trying to achieve a mutual goal, the goal of
      "Casting talented into the most demanded one's". SCA is a premier
      configured squad, which camed into the market in 1998. Since then, it has
      been growing as a skeleton for the pupil who has a sober approach towards
      IT(Information Technology) and it's training. It is determined to set high
      standards in the IT industry.

      <br />
      <br />
      <br />

      There are several activities, which are being carried out simultaneously
      in order to acquire this conjoint ambition. We tend to offer courses in
      the hottest technological areas like C, C++, ORACLE, JAVA, ADVANCE JAVA,
      ANDROID, PHP,React JS, Node JS IPv6 etc., which will benefit the learners
      in the fields of project development.

      <br />
      <br />
      <br />

      Our advancing team works towards the enhancement of the idiosyncratic
      features of the projects as per the industrial requirements. We are
      working for the promotion of the current machinery in IT by providing a
      substantial platform to the beginners. We are growing day by day by
      building national and international tie-ups in order to deliver the
      knowledge. After all, since the aggrandizement, SCA has tried to create a
      niche for itself on the frontiers of education and software augmentation.
      <br />
      <br />
      <br />
    </p>
    <details></details>

    <br /><br /><br /><br />
    <hr color="black" />

    <!-- footer section starts here -->
    <table width="100%" bgcolor="#fac020">
      <tr align="center">
        <td>
          <img src="images/logo/site_logos.png" alt="site_logos" />
        </td>
        <td>
          <h1>Get Our Courses</h1>
        </td>
        <td>
          <h2>Download App Now</h2>
        </td>
      </tr>
      <tr align="center">
        <td>
          <p>
            SCALive is a premier education institute .SCALive is a<br />
            poineer in providing career-orientated courses to aspiring <br />
            students and professional since 1998. <br />
            <br />
          </p>
        </td>
        <td>
          <ul type="none">
            <li><a href="#">C Programming </a></li>
            <br />
            <li><a href="#">Data Structure in C</a></li>
            <br />
            <li><a href="#">C++ Programming</a></li>
            <br />
            <li><a href="#">Java Development</a></li>
            <br />
            <li><a href="#">Python Development</a></li>
            <br />
            <li><a href="#">React JS Development</a></li>
            <br />
            <li><a href="#">Data Structure in Java</a></li>
            <br />
          </ul>
        </td>

        <td>
          <a href="https://play.google.com/store/search?q=scalive+app&c=apps">
            <img src="images/app/google_play.png" alt="" width="150px"
          /></a>
          <br /><br />
          <a href="#">
            <img src="images/app/app_store.png" alt="" width="150px"
          /></a>
        </td>
      </tr>
    </table>

    <!-- footer section ends here -->

    <!-- credit section starts here -->

    <table width="100%" bgcolor="#fa5eec2" align="center">
      <tr>
        <th><a href="#">Terms & Conditions</a></th>
        <th><a href="#">Refund Policy</a></th>
        <th><a href="#">Contact</a></th>
        <th>
          &copy; copyright 2023
          <a href="https://scalive.in/index.php">SCALive</a> All Rights Reveserd
        </th>
        <th>
          Developed By :
          <a href=""> Lalit Patel</a>
        </th>
      </tr>
    </table>

    <!-- credit section ends here -->
  </body>
</html>
