<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SCALive-My Coding Institute</title>
    <link rel="icon" type="image/ico" href="images/icon/favicon.ico" />
  </head>
  <body>
    <!-- Nav bar start here -->

    <table width="100%" bgcolor="#fac020">
      <tr>
        <td><img src="images/logo/site_logos.png" alt="Sca logo" /></td>
        <td><a href="/index" alt="">Home</a></td>
        <td><a href="/about-us">About Us</a></td>
        <td><a href="/batches">Batches</a></td>
        <td><a href="/contact">Contact Us</a></td>
      </tr>
    </table>

    <!-- Nav bar end here -->

    <!-- banner starts here -->
    <img src="images/course-banner.jpeg" width="100%" alt="Banner" />

    <!-- banner ends here -->

    <br /><br /><br />
    <!-- main content starts here -->

    <h1 align="center"><em>Our Upcoming Batches</em></h1>
    <p></p>

    <table width="100%" height="100%" collpadding="25%">
      <thead>
        <tr bgcolor="#ffff33">
          <th>S.NO.</th>
          <th>Batch</th>
          <th>Starting Date</th>
          <th>Instructor</th>
          <th>Time</th>
          <th>Branch</th>
          <th>Mode</th>
          <th>Telegram</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Node JS</td>
          <td>12 May 2023</td>
          <td>Mr.Sachin Kapoor</td>
          <td>04:00 PM</td>
          <td>Indrapuri</td>
          <td>Offline</td>
          <td><a href="#">Click Here To Join</a></td>
        </tr>
        <tr bgcolor="#8585ad">
          <th>2</th>
          <td>Java Full Stack</td>
          <td>21 May 2023</td>
          <td>Mr.Sachin Kapoor</td>
          <td>05:00 PM</td>
          <td>Indrapuri</td>
          <td>Offline</td>
          <td><a href="#">Click Here To Join</a></td>
        </tr>
        <tr>
          <th>3</th>
          <td>Java Full Stack</td>
          <td>21 May 2023</td>
          <td>Mr.Sachin Kapoor</td>
          <td>09:00 PM</td>
          <td>Indrapuri</td>
          <td>Offline</td>
          <td><a href="#">Click Here To Join</a></td>
        </tr>
        <tr bgcolor="#8585ad">
          <th>4</th>
          <td>C/C++/DS</td>
          <td>21 May 2023</td>
          <td>Mr. Sachin Kapoor</td>
          <td>08:00 PM</td>
          <td>Indrapuri</td>
          <td>Offline</td>
          <td><a href="#">Click Here To Join</a></td>
        </tr>
        <tr>
          <th>5</th>
          <td>Java Full Stack</td>
          <td>21 May 2023</td>
          <td>Mr.Sachin Kapoor</td>
          <td>07:00 PM</td>
          <td>Indrapuri</td>
          <td>Offline</td>
          <td><a href="#">Click Here To Join</a></td>
        </tr>
        <tr bgcolor="#8585ad">
          <th>6</th>
          <td>C/C++/DS</td>
          <td>21 May 2023</td>
          <td>Mr.Sachin Kapoor</td>
          <td>06:00 PM</td>
          <td>Indrapuri</td>
          <td>Offline</td>
          <td><a href="#">Click Here To Join</a></td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br /><br />
    <hr color="black" />

    <!-- footer section starts here -->
    <table width="100%" bgcolor="#fac020">
      <tr align="center">
        <td>
          <img src="images/logo/site_logos.png" alt="site_logos" />
        </td>
        <td>
          <h1>Get Our Courses</h1>
        </td>
        <td>
          <h2>Download App Now</h2>
        </td>
      </tr>
      <tr align="center">
        <td>
          <p>
            SCALive is a premier education institute .SCALive is a<br />
            poineer in providing career-orientated courses to aspiring <br />
            students and professional since 1998. <br />
            <br />
          </p>
        </td>
        <td>
          <ul type="none">
            <li><a href="#">C Programming </a></li>
            <br />
            <li><a href="#">Data Structure in C</a></li>
            <br />
            <li><a href="#">C++ Programming</a></li>
            <br />
            <li><a href="#">Java Development</a></li>
            <br />
            <li><a href="#">Python Development</a></li>
            <br />
            <li><a href="#">React JS Development</a></li>
            <br />
            <li><a href="#">Data Structure in Java</a></li>
            <br />
          </ul>
        </td>

        <td>
          <a href="https://play.google.com/store/search?q=scalive+app&c=apps">
            <img src="images/app/google_play.png" alt="" width="150px"
          /></a>
          <br /><br />
          <a href="#">
            <img src="images/app/app_store.png" alt="" width="150px"
          /></a>
        </td>
      </tr>
    </table>

    <!-- footer section ends here -->

    <!-- credit section starts here -->

    <table width="100%" bgcolor="#fa5eec2" align="center">
      <tr>
        <th><a href="#">Terms & Conditions</a></th>
        <th><a href="#">Refund Policy</a></th>
        <th><a href="#">Contact</a></th>
        <th>
          &copy; copyright 2023
          <a href="https://scalive.in/index.php">SCALive</a> All Rights Reveserd
        </th>
        <th>
          Developed By :
          <a href="#"> Lalit Patel</a>
        </th>
      </tr>
    </table>

    <!-- credit section ends here -->
  </body>
</html>
