<html>
  <head>
    <%-include('__bootstrap.ejs')%>
  </head>
  <body>
    <%-include('__header.ejs')%>

    <div class="container">
      <div class="jumbotron text-center mt-5">
        <h1>Welcome to GadgetHub</h1>
        <p>Your one-stop shop for all things tech!</p>
        <div class="mt-4">
          <a href="/admin/sign-in" class="btn btn-primary btn-lg mr-2"
            >Signin</a
          >
          <a href="/admin/sign-up" class="btn btn-secondary btn-lg">Signup</a>
        </div>
      </div>
    </div>
  </body>
</html>
