<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container mt-2 p-0" style="height: 100vh">
      <% if (result){%>
      <table class="table m-0">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <% result.forEach((product)=>){%>
          <tr>
            <td><%=product.product%></td>
            <td><%=product.price%></td>
            <td><%=product.category%></td>
          </tr>
          <%})%>
        </tbody>
      </table>
      <%})%>
    </div>
  </body>
</html>
