<!-- Customer navbar starts here -->
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a href="userHome.jsp" class="navbar-brand">ProductHub</a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#mynav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mynav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="userHome.jsp" class="nav-link">Products</a>
        </li>

        <li class="nav-item">
          <a href="cartDetails.jsp" class="nav-link">Cart</a>
        </li>

        <li class="nav-item">
          <a href="cartDetails.jsp" class="nav-link">
            <i
              class="fa fa-cart-shopping"
              style="background-color: black; margin: 0; padding: 5px"
            ></i
          ></a>
        </li>

        <li class="nav-item">
          <a href="cartDetails.jsp" class="nav-link">Orders</a>
        </li>

        <li class="nav-item">
          <a href="cartDetails.jsp" class="nav-link">Profile</a>
        </li>

        <li class="nav-item">
          <a href="cartDetails.jsp" class="nav-link">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Customer navbar ends here -->
