<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("__bootstrap.ejs") %>
  </head>
  <body>
    <!-- navbar 1 start here -->

    <nav class="navbar navbar-expand-lg navbar-custom">
      <div class="container-fluid">
        <a href="" class="navbar-brand"> ProductHub </a>

        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#mynav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mynav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                >Category</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a href="#" class="dropdown-item">Mobiles</a>
                </li>

                <li>
                  <a href="#" class="dropdown-item">Cooler</a>
                </li>

                <li>
                  <a href="#" class="dropdown-item">Tv</a>
                </li>

                <li>
                  <a href="#" class="dropdown-item">Camera</a>
                </li>

                <li>
                  <a href="#" class="dropdown-item">Speaker</a>
                </li>

                <li>
                  <a href="#" class="dropdown-item">IPad</a>
                </li>

                <li>
                  <a href="#" class="dropdown-item">Pixel</a>
                </li>

                <li>
                  <a href="#" class="dropdown-item">Laptop</a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="index.jsp" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
              <a href="login.jsp" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
              <a href="register.jsp" class="nav-link">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- navbar 1 ends here -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
