<!-- serach bar starts here -->
<div class="container-fluide bg-warning text-center p-3">
  <h2>ProducttHub</h2>
  <p>We specialize in Electronics</p>
  <form action="#">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search items....." />
      <input type="submit" class="btn btn-primary" value="Search" />
    </div>
  </form>
</div>
<!-- serach bar ends here -->
