<div class="container-fluide bg-primary text-white p-3">
  <div class="container">
    <h2 class="text-center">Contact</h2>
    <p class="text-center">We love our fans!</p>
    <div class="row">
      <div class="col-md-4">
        <p><i class="fa-solid fa-phone"></i> Phone : +91 7610713699</p>
        <p>
          <i class="fa-solid fa-envelope"></i> Email :
          lalitpatel111.da@gmail.com
        </p>
        <p><i class="fa-solid fa-signs-post"></i> Postal code : 462020</p>
      </div>
      <div class="col-md-8">
        <form action="#">
          <div class="row">
            <div class="col-sm-6 form-group mt-1">
              <input
                type="text"
                class="form-control"
                placeholder="name"
                required
              />
            </div>
            <div class="col-sm-6 form-group mt-1">
              <input
                type="email"
                class="form-control"
                placeholder="email"
                required
              />
            </div>
          </div>
          <textareas
            name=""
            id=""
            rows="5"
            class="form-control mt-1"
            placeholder="Enter your massage...."
          ></textareas>
          <div class="row">
            <div class="col-md-12 form-group mt-1">
              <button type="button" class="btn btn-warning">send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
