<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/__bootstrap.ejs') %>
    <!-- <%- include("./partials/__style.ejs")%> -->
  </head>
  <body>
    <!-- <%- include("./partials/__guestnavbar.ejs")%>
    <%-include("./partials/__footer.ejs")%> -->
  </body>
</html>
